body{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(210,180,140);
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    align-items: center;
    text-align: center;
    margin: 40px 10%;
}

.navLinks{
    padding: 10px;
    background-color: hsla(28, 100%, 86%, 0.70);
    max-height: 25px;
    min-height: 25px;
}

.navLinks a{
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    width: 100%;
}

.navLinks a:hover {
    border-left: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    padding: 0.4em;
}