
    <div id="footerwrapper">
        <div class="footerInfo"><p>
            <b>Lopper og landstil</b><br>
            v/Anja Hjorth Jensen    <br>
            Østerhøjgaard           <br>
            Kjeldbækvej 1, Ørting   <br>
            8300 Odder              <br>
            Tlf: 41 60 46 49        <br>
            info@lopperoglandstil.dk<br>
            CVR nr: 38435671        <br>
        </p></div>
        <div class="socialmedia"><p>
            <b>Følg os:</b> <br>
            <a data-descr="Facebook" href="https://www.facebook.com/LopperogLandstil/"><img src="/imgs/fblogo.png" height="42" width="42"></a> <br>
            <a data-descr="Instagram" href="https://www.instagram.com/lopperoglandstil/"><img src="/imgs/inslogo.png" height="42" width="42"></a> <br>
        </p></div>
        <div class="footerUndersider"><p>
            <b>Sider:</b>
            <a href="index.html">Forside</a>
            <a href="#">Hvem er jeg</a>
            <a href="#">Kontakt</a>
            <a href="catalog.html">Katalog</a>
        </p></div>
        <div class="aabningstider">
            <p><b>Åbningstider:</b></p>
            <ul>
            <li>Torsdag: 14:00 – 18:00</li>
            <li>Fredag:	14:00 – 18:00</li>
            <li>Lørdag:	10:00 – 14:00</li>
            <li>Søndag:	11:00 – 15:00</li>
            </ul>
        </div>
            <p id="p1">
                Anja Hjorth Jensen <br>
                info@lopperoglandstil.dk<br>
                CVR nr: 38435671        <br>
            </p>
            <p id="p2">
                Østerhøjgaard           <br>
                Kjeldbækvej 1, Ørting   <br>
                8300 Odder              <br>
                Tlf: 41 60 46 49        <br>
            </p>
    </div>
