<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lager</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/inventoryStyle.css">
    <link rel="icon" type="image/x-icon" href="/imgs/favicon.icon">
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js"></script>
    <script src="/scripts/inventoryscript.js"></script>
</head>
<body>

<!--header-->
<div class="headerimage-inventory"></div>

<div class="navbar">
    <button id="link_to_front" class="link_to_front"> Tilbage </button>
</div>

<div class="inventory_middle" id="inventory_middle">
    <div class="inventory_main" id="inventory_main"></div>
    <div class="inventory_specs" id="inventory_specs"></div>

</div>

</body>
</html>