<!--<nav id="fixedMenu">-->
    <div>
        <img class="menuLogo" src="/imgs/logo.png">
        <a class="menuItem" href="index.html">Forside</a>
        <a class="menuItem" href="aboutMe.html">Hvem er jeg</a>
        <a class="menuItem" href="contact.html">Kontakt</a>
        <a class="menuItem" href="catalog.html">Katalog</a>
    </div>
<!--</nav>-->