    <nav id="topnav">
        <div class="navLinks">
            <a href="index.html">Forside</a>
        </div>
        <div class="navLinks">
                <a href="aboutMe.html">Om os</a>
        </div>
        <div class="logo">
            <a href="index.html"><img class="logo" src="/imgs/logo.png"> </a>
        </div>
        <div class="navLinks">
            <a href="contact.html">Kontakt</a>
        </div>
        <div class="navLinks">
            <a href="catalog.html">Katalog</a>
        </div>
    </nav>