<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Session</title>
    <link rel="stylesheet" type="text/css" href="/css/adminSiteStyle.css">
</head>
<body>
<nav class="container">
    <div class="navLinks"><a href="/admin/visProdukt">Vis Produkter</a></div>
    <div class="navLinks"><a href="/admin/createProduct">Opret Produkt</a></div>
</nav>

<a href="/admin/logout"> log ud</a>
</body>
</html>